<div class="container col-md-8">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active pink" data-toggle="tab" href="#my-bookings-tab">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pink"  data-toggle="tab" href="#property-bookings-tab">Property bookings</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="my-bookings-tab">
      <% if @bookings.empty? %>
        <%= link_to 'Book your first trip now', properties_path, class: "form-button-primary my-5 mx-auto" %>
      <% else %>
      <h2 class='my-3'>My Bookings</h2>
        <% @bookings.each do |booking| %>
          <div class="card-container">
            <div class="card-image-container smaller-image-container">
              <%= cl_image_tag booking.property.photos[0].key, class:"card-image", cloud_name: "dmdajbspi" %>
            </div>
            <div class="card-contents">
              <%= link_to booking.property.name , booking_path(booking), class: "card-title pink" %>
              <% start_date_time_obj = booking.start_date.to_datetime %>
              <% start_date = start_date_time_obj.strftime("%d %B %Y") %>
              <% end_date_time_obj = booking.end_date.to_datetime %>
              <% end_date = end_date_time_obj.strftime("%d %B %Y") %>
              <p class="card-subtitle"><%= start_date %> - <%= end_date %></p>
              <p class='card-details mt-2'><%= booking.property.address %></p>
              <p class='card-details mt-2'><%= booking.property.summary %></p>
              <div class="d-flex justify-content-between"><p class='card-details mt-2'><strong>Status:</strong> <%= booking.status %></p>
              <p class='card-subtitle mt-2'> <strong>Hosted by:</strong> <%= booking.property.user.first_name %> <%= booking.property.user.last_name %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="property-bookings-tab">
      <% if @properties.empty? %>
        <%= link_to "Add a property to get bookings", new_property_path, class: "card-title pink" %>
      <% else %>
      <h2 class='my-3'>My Property Bookings</h2>
        <% @properties.each do |property| %>
          <% property.bookings.each do |booking| %>
            <div class="card-container">
              <div class="card-image-container smaller-image-container">
                <%= cl_image_tag booking.property.photos[0].key, class:"card-image", cloud_name: "dmdajbspi" %>
              </div>
              <div class="card-contents">
                <div class="d-flex justify-content-between">
                <div>
                <%= link_to property.name , property_path(property), class: "card-title pink" %>
                <% start_date_time_obj = booking.start_date.to_datetime %>
                <% start_date = start_date_time_obj.strftime("%d %B %Y") %>
                <% end_date_time_obj = booking.end_date.to_datetime %>
                <% end_date = end_date_time_obj.strftime("%d %B %Y") %>
                <p class="card-subtitle"><%= start_date %> - <%= end_date %></p>
                </div>
              <div>
                <p class='card-details'> <strong>Booked by:</strong> <%= booking.user.first_name %> <%= booking.user.last_name %></p>
              </div>
              </div>
              <p class='card-details mt-2'><%= booking.property.address %></p>
              <p class='card-details'><%= booking.property.summary %></p>
              <div class="d-flex justify-content-between">
                <div>
                  <p><strong>Status:</strong> <%= booking.status %></p>
                </div>
                <% if booking.status != "Pending" && booking.status != "Declined" %>
                  <%= link_to booking_path(id: booking.id, booking: {status: "Declined"}), method: :patch do %>
                    <div class="d-flex align-items-center"><%= image_tag 'x-circle.svg', class: 'favourite-button-red'%> <div><p class="m-0">Cancel</p></div></div>
                  <% end %>
                <% else %>
                  <%= link_to booking_path(id: booking.id, booking: {status: "Approved"}), method: :patch do %>
                    <div class="d-flex align-items-center"><%= image_tag 'check-circle.svg', class: 'favourite-button-red'%><div><p class="m-0">Approve</p></div></div>
                  <% end %>
                  <%= link_to booking_path(id: booking.id, booking: {status: "Declined"}), method: :patch do %>
                    <div class="d-flex align-items-center"><%= image_tag 'x-circle.svg', class: 'favourite-button-red'%> <div><p class="m-0">Cancel</p></div></div>
                  <% end %>
                  
                <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
