<div class="container">
  <h1>Bookings</h1>
  <% @bookings.each do |booking| %>
    <%= link_to booking.property.name , booking_path(booking) %>
    <p><%= booking.start_date %> - <%= booking.end_date %></p>
    <p><%= booking.property.address %></p>
    <p><%= booking.property.summary %></p>
  <% end %>

  <h1>My property bookings</h1>
  <% @properties.each do |property| %>
    
    <% property.bookings.each do |booking| %>
      <h3><%= property.name %></h3>
      <p><%= booking.start_date %> - <%= booking.end_date %></p>
      <p><%= booking.property.address %></p>
      <p><%= booking.property.summary %></p>
    <% end %>
  <% end %>
</div>
