<h1>Bookings</h1>

<div class="container">
  <% @bookings.each do |booking| %>
    <%= link_to booking.property.name , booking_path(booking) %>
    <p><%= booking.start_date %> - <%= booking.end_date %></p>
    <p><%= booking.property.address %></p>
    <p><%= booking.property.summary %></p>
  <% end %>
</div>