<div class="container">


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#my-bookings-tab">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  data-toggle="tab" href="#property-bookings-tab">Property bookings</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="my-bookings-tab">
      <h1>My Bookings</h1>
      <% @bookings.each do |booking| %>
        <div class="card-container">
          <div class="card-contents">
            <%= link_to booking.property.name , booking_path(booking) %>
            <p><%= booking.start_date %> - <%= booking.end_date %></p>
            <p><%= booking.property.address %></p>
            <p><%= booking.property.summary %></p>
            <p>Status: <%= booking.status %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="property-bookings-tab">
      <h1>My property bookings</h1>
      <% @properties.each do |property| %>
        <% property.bookings.each do |booking| %>
          <h3><%= property.name %></h3>
          <p><%= booking.start_date %> - <%= booking.end_date %></p>
          <p><%= booking.property.address %></p>
          <p><%= booking.property.summary %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>