<div class="container">
  <div class="section mt-2">
    <h1>Your Booking information for this property</h1>
    <p>Your reservation address: <%= @booking.property.address %></p>
  </div>
  <div class="section d-flex">
    <% @booking.property.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="section shadow-lg p-3 mb-5 bg-white rounded">
    <h1>Hosted By <%= @booking.property.user.first_name %> </h1>
    <ul class ="list-unstyled wrapper-dashboard mt-2 text-left align-items-center p-5">
      <li>
        <p>Your Booking status is <strong><%= @booking.status %></strong></p>
      </li>
      <li>
        <p>Your booking start date: <%= @booking.start_date %></p>
      </li>
      <li></li>
      end date: <%= @booking.end_date %> </p>
  </li>
  <li>
    <p>total cost of the reservation: <%= @booking.total_cost %>£</p>
  </li>
  <% unless @booking.price_per_night.nil? %>
    <li>
      <p>price per night: <%= @booking.price_per_night %></p>
    </li>
  <% end %>
  <% unless @booking.number_of_guests.nil? %>
    <li>
      <p>number of guests: <%= @booking.number_of_guests %></p>
    </li>
  <% end %>
  <li>
    <h1>wish you have a good experience with us!</h1>
  </li>
</ul>
<div class="mt-2 py-2 background-color: white justify-content-between" style="border: 2px solid; border-radius: 10px; text-align: center; align-item:center; margin-bottom:15px;">
  <h1>Reviews of the property</h1>
  <% numberofreviews = @booking.reviews.count %>
  <% sumofreviewratings = @booking.reviews.map(&:rating).sum %>
  <h2>Overall rating of the property is <%= sumofreviewratings.fdiv(numberofreviews) %> out of 5.0 </h2>
  <% @booking.reviews.each do |review| %>
    <div class="mt-2">
      <p><%= review.rating %> stars Reviewed by
        <strong><%="#{review.booking.user.first_name} #{review.booking.user.last_name}"%></strong>
      </p>
    </div>
    <div><%= review.content %></div>
    <% if user_signed_in? && review.booking.user = current_user %>
      <%= link_to "edit your review", edit_review_path(review) , class: "btn btn-warning"  %>
      <%= link_to "Delete your review", review_path(review), class: "btn btn-danger", method: :delete, data: { confirm: "Remove This Property?" } %>
    <% end %>
  <% end %>
</div>
<%# we should render the form conditionally %>
<%# <% if @booking.user_id = @booking.review.user_id %>
<div>
  <%= render  partial: 'reviews/review_form', locals: {review: @review, booking: @booking} %>
</div>
<%# <% end %>
<%# i should add edit button conditionally! %>
<%= link_to "Back to your bookings", bookings_path, class: "btn btn-success", input_html:{}  %>
</div>
</div>
