<div class="container">
    <div class="section mt-2">
    <h1>Your Booking information for this properry</h1>
    <p>Your reservation address: <%= @booking.property.address %></p>  
    </div>
    <div class="section">
    <ul class ="list-unstyled wrapper-dashboard mt-2 text-left align-items-center p-5">
    <li><%=  %> </li>
    <li><h2>Your Booking status is <%= @booking.status %></h2></li> 
    <li><h3>Your booking start date: <%= @booking.start_date %></h3></li>
    <li><h3>Your booking end date: <%= @booking.end_date %> </h3></li>
    <li><h3>total cost of the reservation: <%= @booking.total_cost %>£</h3> </li>
    <li><h4>price per night: <%= @booking.price_per_night %></h4></li>
    <% unless @booking.number_of_guests.nil? %>
    <li><h4>number of guests: <%= @booking.number_of_guests %></h4></li>
    <% end %>
    <li><h1>wish you have a good experience with us!</h1> </li>
    </ul>
    <%= link_to "Back to your bookings", bookings_path, class: "btn btn-success" %>
    </div>
    
     
</div>