<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">

      <% @properties.each do |property| %>

      <div class="card-container">
        <div class="card-image-container">
          <img src="https://a0.muscache.com/im/pictures/f7388724-65a9-4ad8-9b88-9708421224a0.jpg?im_w=720" alt="" class="card-image">
        </div>

        <div class="card-contents">
          <div class="card-badges">
            <% if property.has_internet  %>
            <p class="card-badge">
              WIFI
           </p>
           <% end %>
            <p class="card-supertitle"><%= property.total_bedrooms %> BEDS · <%= property.total_bathrooms %> BATHS</p>
          </div>


          <h2 class='card-title'><%= property.name %></h2>
          <p class='card-subtitle'><%= property.address %></p>
          <p class='card-paragraph'><%= property.summary %></p>

          <a><%= link_to "View property", property_path(property) %></a>
        </div>

      </div>


      <% end %>

    </div>
    <div class="col-sm-6">
      <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="pk.eyJ1IjoiYWxleHRlcmVuZGEiLCJhIjoiY2tsamE4NmpsMjc4bDJzbWc4M2p6dm0yYyJ9.rTJ2Lvv2WLBHLvxJPa8g3w">
    </div>
  </div>
</div>
</div>
