
<div class="container">
  <%= link_to "Back to Properties", properties_path %>
  <h1><%= "#{@property.name}"%></h1>
  
  <% if (current_user.favourite_ids & @property.favourite_ids).any? %>
    <%= link_to "Remove Favourite", property_favourite_path(@property), class: "btn btn-danger", method: :delete %>
  <% else %>
    <%= link_to "Add Favourite", property_favourites_path(@property), class: "btn btn-primary", method: :post %>
  <% end %>

  <div class="container" style="height: 75vh; background-color: white;">
    <img src="https://a0.muscache.com/im/pictures/f7388724-65a9-4ad8-9b88-9708421224a0.jpg?im_w=720" alt="" class="whatever">
  </div>
  <div class="d-flex flex-wrap justify-content-between">
    <div class="property-details" style="width: 50%; padding: 10px; background-color: white;">
      <h3><strong>£<%= @property.price_per_night.round(2) %></strong> / night</h3>
      <p>Hosted by: <%= @property.user.first_name %> <%= @property.user.last_name %></p>
      <p><%= @property.summary %></p>
      <p><%= @property.address %></p>
      <p>Bedrooms: <%= @property.total_bedrooms %></p>
      <p>Bathrooms: <%= @property.total_bathrooms %></p>
      <p>Max Guests: <%= @property.total_occupancy %></p>
      <ul class="property-feature-list">
        <li <%= @property.has_kitchen ? "" : 'style=color:grey;' %>><%= @property.has_kitchen ? '😊 Has a Kitchen' : '😞 No Kitchen' %></li>
        <li <%= @property.has_internet ? "" : 'style=color:grey;' %>><%= @property.has_internet ? "😊 Has Internet" : "😞 No Internet" %></li>
        <li <%= @property.has_aircon ? "" : 'style=color:grey;' %>><%= @property.has_aircon ? "😊 Has Air Con" : "😞 No Air Con" %></li>
        <li  <%= @property.has_heating ? "" : 'style=color:grey;' %>><%= @property.has_heating ? "😊 Has Heating" : "😞 No Heating" %></li>
      </ul>
    </div>
    <% if current_user == @property.user %>
      <div class="owner-controls" style="width: 50%; padding: 10px; background-color: white;">
        <h2>You own this property</h2>
        <%= link_to "Edit", edit_property_path(@property), class: "btn btn-success" %>
        <%= link_to "Delete", property_path(@property), method: "delete", class: "btn btn-danger", data: { confirm: "Remove This Property?" }%>
      <div>
    <% else %>
      <div class="booking-form" style="width: 50%; padding: 10px; background-color: white;">
        <h2>Booking Form</h2>
        <%= render "bookings/booking_form", property: @property, booking: @booking %>
      </div>
    <% end %>
  </div>
</div>

