<div class="card-container">

  <% if property.user == current_user %>
    <div class="card-ribbon card-ribbon-top-left"><span>Yours</span></div>
  <% end %>

  <div class="card-image-container">

 <img src="https://source.unsplash.com/random?sig=<%= index %>/&appartment" alt="" class="card-image">

    <%
=begin%>
 <%= cl_image_tag property.photos[0].key, class:"card-image", cloud_name: "dmdajbspi" %>
<%
=end%>
  </div>

  <div class="card-contents">

    <div class="card-badges">

      <% if property.has_internet  %>
        <p class="card-badge">
          WIFI
        </p>
      <% end %>

      <p class="card-supertitle"><%= property.total_bedrooms %> BED<% if property.total_bedrooms > 1 %>S<% end %> · <%= property.total_bathrooms %> BATH<% if property.total_bathrooms > 1 %>S<% end %></p>

      <div class="card-buttons-container">


        <% if property.user == current_user %>
        <div class="button-container">
          <%= link_to edit_property_path(property) do %>
            <%= image_tag 'edit.svg', class: 'button edit-button'%>
          <% end %>
        </div>
        <% end %>

        <% if property.user == current_user %>
        <div class="button-container">
          <%= link_to property_path(property), method: "delete", data: { confirm: "Remove This Property?" } do%>
            <%= image_tag 'delete.svg', class: 'button delete-button'%>
          <% end %>
        </div>
        <% end %>

        <% if property.user != current_user %>
        <div class="button-container">
          <%= link_to properties_path, class: '' do %>
            <%= image_tag 'favourite.svg', class: 'button favourite-button'%>
          <% end %>
        </div>
        <% end %>

      </div>
    </div>

    <h2 class='card-title'><%= property.name %></h2>
    <p class='card-subtitle'><%= property.address %></p>


    <div class="card-spacer"></div>

    <div class="card-details">
      <p class='card-subtitle'><% if property.has_kitchen %> · Kitchen   <% end %>

        <% if property.has_tv %> · TV   <% end %>

        <% if property.has_heating %> · Heating   <% end %>

        <% if property.has_aircon %> · Air con  <% end %></p>
      </div>
      <a><%= link_to "View property", property_path(property), class: "card-link"%></a>

      <div class="card-metadata">
        <p class="card-price"><span class="card-price-number">£<%= property.price_per_night %> </span><span class="card-price-unit">/<span class="card-price-small">night</span></span></p>
        <div class="card-reviews">⭐⭐⭐⭐⭐<span class="card-review-count">34 reviews</span></div>
      </div>


    </div>
  </div>

  <script>
    var animateButton = function(e) {

      e.preventDefault;
  //reset animation
  e.target.classList.remove('animate');

  e.target.classList.add('animate');
  setTimeout(function(){
    e.target.classList.remove('animate');
  },700);
};

var classname = document.getElementsByClassName("confetti-button");

for (var i = 0; i < classname.length; i++) {
  classname[i].addEventListener('click', animateButton, false);
}
</script>
