<div class="container">
  <div class="row my-5">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 m-auto">


      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
        required: false,
        placeholder: "Jane",
        autofocus: true,
        input_html: { autocomplete: "email" } %>
        <%= f.input :password,
        required: false,
        placeholder: "••••••",
        input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-buttons-container">
        <%= f.button :submit, "Log in", class: 'form-button-primary' %>
      </div>
      <% end %>
      <div class="form-buttons-container-secondary">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
